<div>
	<h1>Hi This is dashboard</h1>
			<div class="row-fluid">	

				<a class="quick-button metro yellow span2">
					<i class="icon-group"></i>
					<p>USERS: {{number_of_users}}</p>
				</a>
				<a class="quick-button metro red span2">
					<i class="icon-comments-alt"></i>
					<p>HOSTS: {{number_of_hosts}}</p>
				</a>
				<a class="quick-button metro blue span2">
					<i class="icon-shopping-cart"></i>
					<p>REVENUE: {{tot_revenue}}</p>
				</a>
				<a class="quick-button metro green span2">
					<i class="icon-barcode"></i>
					<p>PROPERTIES: {{number_of_properties}}</p>
				</a>
				
				<div class="clearfix"></div>
								
			</div><!--/row-->
</div>
