<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav side-nav">
		<li class="active"><a href="#"><i
				class="fa fa-fw fa-dashboard"></i>Add New Property</a></li>
		<li><a href="#"><i class="fa fa-fw fa-bar-chart-o"></i>Delete
				Existing property</a></li>
		<li><a href="#"><i class="fa fa-fw fa-table"></i>Property
				Analytics</a></li>
		<li><a href="#"><i class="fa fa-fw fa-edit"></i>Generate
				Billing requests</a></li>
		<li><a href="#"><i class="fa fa-fw fa-edit"></i>Property
				Approval Requests</a></li>
</div>
<!-- /.navbar-collapse -->


