<div class="container" ng-controller="register">

	<div class="row centered-form">
		<div
			class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="form-group">REGISTER USER PORTAL</h3>
				</div>
				<div
					style="background-image: url(/images/airbnblogo.png); height: 100px; width: 350px;">
				</div>


				<div class="panel-body">

					<form role="form">
						<div class="row">

							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="first_name" name="first_name"
										id="first_name" class="form-control input-sm floatlabel"
										placeholder="First Name">
								</div>
							</div>

							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="last_name" name="last_name"
										id="last_name" class="form-control input-sm"
										placeholder="Last Name">
								</div>
							</div>

						</div>

						<div class="form-group">
							<input type="email" ng-model="inputUsername" name="email"
								id="email" class="form-control input-sm"
								placeholder="Email Address">
						</div>

						<div class="row">

							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="password" ng-model="inputPassword" name="password"
										id="password" class="form-control input-sm"
										placeholder="Password">
								</div>
							</div>

							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="password" ng-model="confirmPassword"
										name="password_confirmation" id="password_confirmation"
										class="form-control input-sm" placeholder="Confirm Password">
								</div>
							</div>

						</div>

						<input type="submit" ng-click="register()" value="Register"
							class="btn btn-info btn-block">

					</form>

				</div>
				<div class="alert alert-danger" ng-hide="invalid_login">
					<strong>Passwards do not match</strong>
				</div>
				<div class="alert alert-danger" ng-hide="valid_login">
					<strong>Account Has Been Created Please Proceed To LOGIN!</strong>
				</div>
				<div class="alert alert-danger" ng-hide="already_exists">
					<strong>This user already exists!</strong>
				</div>
			</div>
		</div>
	</div>
</div>