<!DOCTYPE html>
<head>
<title>Vacation Rentals, Homes, Apartments & Rooms for Rent - Airbnb</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="angularjs/home.js"></script>

</head>
<style>

.navbar-default {

      background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);

    background-color: #ffffff;
    border-color: #ffffff;
}

</style>
<body ng-app="airbnb" >

<div  id="header" class=" navbar navbar-default  ">
  <div  class="navbar-header">
    <a class="navbar-brand" style="position:relative;padding:0"  href="#"><img id="a" src="http://media.gizmodo.co.uk/wp-content/uploads/2014/07/airbnb-logo-230x129.jpg" height=50 width=90> </a>
  </div >
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Become a host</a></li>
    <li><a href="#" >Help</a></li>
    <li><a href="#myModal2" role="button" data-toggle="modal">Sign Up</a></li>
    <li><a href="#myModal" role="button" data-toggle="modal">Log In</a></li>
    <li><a href="#" >Trips</a></li>
    <li><a href="#" >Messages</a></li>
    <li><a href="#" >Profile</a></li>
  </ul>
</div>
<div id="myModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content" style="width:500px">
  <div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Log In</h3>
  </div>
  <div class="modal-body" ng-controller="airbnb">
    <form >
    <input type="email" ng-model="inputUsername" required name="email" id="email" placeholder="Email Address" class="form form-control" style=" height:40px"><br>
      <input type="password" type="password" required ng-model="inputPassword" name="password" id="password" placeholder="Password" class="form form-control" style="height:40px"><br>
      <input style="height:40px;background-color:rgb(255,100,100);color:white;font-weight:bold" ng-click="signin()" type="submit" value="Log in" class="form form-control">
</form >
      <br>
      <b><a stlye="float:rightx">Forgot Password ?</a><b>
<div class="modal-footer row">

<br>
  <div class="alert alert-danger" ng-hide="invalid_login">
    <strong>Invalid Email address or Password</strong>
  </div>
  </div>
</div>
</div>
</div>
</div>

<div id="myModal2"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content" style="width:500px">
  <div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Sign Up </h3>
  </div>
  <div class="modal-body" ng-controller="register">
    <form >
      <input type="text" placeholder="First Name" required ng-model="first_name" name="first_name" id="first_name" class="form form-control" style=" height:40px"><br>
      <input type="text" placeholder="Last Name" required ng-model="last_name" name="last_name" id="last_name" class="form form-control" style=" height:40px"><br>
      <input type="email" placeholder="Email Address" required ng-model="inputUsername" name="email" id="email" class="form form-control" style=" height:40px"><br>
      <input type="password" placeholder="Password" required ng-model="inputPassword" name="password" id="password" class="form form-control" style="height:40px"><br>
      <label>Birthday</label>
      <input type="date" ng-model="dob" name="dob" id="dob" required placeholder="Date of Birth" class="form form-control" style="height:40px"><br>
      <p>By signing up, I agree to Airbnb’s Terms of Service, Nondiscrimination Policy, Payments Terms of Service,
        Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
        <input ng-click="register()" style="height:40px;background-color:rgb(255,100,100);color:white;font-weight:bold" type="submit" value="Sign up" class="form form-control">
        <br>
    </form>
<div class="modal-footer row">

  <a href="#myModal" data-dismiss="modal" aria-hidden="true" role="button" data-toggle="modal">Already have an Airbnb account?</a>

				<div class="alert alert-danger" ng-hide="invalid_register">
					<strong>Passwards do not match</strong>
				</div>
				<div class="alert alert-success" ng-hide="valid_register">
					<strong>Account Has Been Created Please Proceed To LOGIN!</strong>
				</div>
				<div class="alert alert-danger" ng-hide="already_exists">
					<strong>This user already exists!</strong>
				</div>
  </div>
</div>
</div>
</div>
</div>
<br>
<div class="body">
  <div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10" style="padding-bottom:40px;">
    <p style="font-size:40px"><span style="font:sans-serif;color:rgb(255,100,100);font-size:bold"><b>Live there.<b></span> Book Unique homes and experience a <br>city like a local</p>
    <div class="row" style="padding-bottom:6px;">
      <div class="col-md-3" ><label>Where</label><br><input placeholder="Destination,city,address" style="height:50px" type="text" class="form form-control"></div>
      <div class="col-md-3"><label>From</label><br><input style="height:50px" type="date" class="form form-control"></div>
      <div class="col-md-2"><label>To</label><br><input style="height:50px" type="date" class="form form-control"></div>
      <div class="col-md-2"><label>Guests</label><br>
        <select style="height:50px" placeholder="Guest" class="form form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="col-md-2"><br><input  style="height:50px;background-color:#ff5a5f;color:white" type="submit" class="form form-control"></div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
<div class="row">
    <div class="col-md-6">
      <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\1.jpeg" class="img-responsive" style="width: 600px; height: 320px">
    </div>
    <div class="col-md-6">
    <div class="row">
    <div class="col-md-6">
      <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\2.jpg" class="img-responsive" style="width: 360px; height: 150px">
    </div>
    <div class="col-md-6">
      <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\3.jpg" class="img-responsive" style="width: 360px; height: 150px">
    </div>
  </div><br>
  <div class="row">
  <div class="col-md-6">
    <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\4.jpg" class="img-responsive" style="width: 360px; height: 150px">
  </div>
  <div class="col-md-6">
    <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\5.jpg" class="img-responsive" style="width: 360px; height: 150px">
  </div>
</div>
</div>
</div><br>
<div class="row">
    <div class="col-md-6">
    <div class="row">
    <div class="col-md-6">
      <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\6.jpg" class="img-responsive" style="width: 360px; height: 150px">
    </div>
    <div class="col-md-6">
      <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\10.png" class="img-responsive" style="width: 360px; height: 150px">
    </div>
  </div><br>
  <div class="row">
  <div class="col-md-6">
    <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\9.jpg" class="img-responsive" style="width: 360px; height: 150px">
  </div>
  <div class="col-md-6">
    <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\8.jpg" class="img-responsive" style="width: 360px; height: 150px">
  </div>
</div>
</div>
<div class="col-md-6">
  <img src="C:\Users\Aditya-pc\Documents\AirBnb UI Test\City\7.jpeg" class="img-responsive" style="width: 600px; height: 320px">
</div>
</div><br>
