<!DOCTYPE html>
<html>
      <head>
        <title>Vacation Rentals, Homes, Apartments & Rooms for Rent - Airbnb</title>
        <link rel="stylesheet" type="text/css" href="main.css" />
      </head>
      <body>
          <div id="header">
              <div id="nav">
                  <img src="logo.png" id="logo" />
                  <p id="logo_text">airbnb</p>
              </div>
          </div>
      </body>
</html>
